
/* 3rd Level */

.third-wrap {
    position: absolute;
    display: none;
    z-index: 12;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(51,73,94,0.90);
}
.third-content {
    position: absolute;
    z-index: 12;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
/*    border-radius: 4px 4px 4px 4px;*/
}
.third-back1 {
    position: absolute;
    z-index: 13;
    padding: 2px 6px;
    top: 3.6%;
    left: 4%;
}

.third-back1 a:hover {
    cursor: pointer;
}
.third-back1 > a {
    color: rgb(55, 74, 93);
}

.third-close1 {
    position: absolute;
    z-index: 13;
    padding: 2px 6px;
    top: 2%;
    right: 1%;
}
.third-close1 a:hover {
    cursor: pointer;
}
.third-close1 > a {
    color: rgb(55, 74, 93);
}

.tabs {
    width: 100%;
    height: 100%;
    display:inline-block;
}
 
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
    
ul.tab-links {
    position: relative;
    left: 6%;
    margin: 2% 6.6% 0%;
    padding: 0px;
}

.tab-links li {
    float:left;
    list-style:none;
}


.tab-links a {
    margin: 3px;
    padding: 8px 15px;
    display: inline-block;
    border: 3px solid rgb(46, 62, 79) ;
    font-size: 20px;
    font-weight: bolder;
    font-family:"微软雅黑", sans-serif;
    border-radius: 8px;
    color: rgba(51,73,94,0.90);
    background-color: rgb(216, 216, 216);
    transition: all linear 0.15s;
}

.tab-links a:hover{
    color: rgb(72, 192, 251);
    text-decoration: none;
    cursor:pointer;
}

li.active a, li.active a:hover {
    color: rgb(72, 192, 251);
}
/* 4th Level */
.tab-content {
    position: absolute;
    top: 8%;
    left: 1%;
    width: 98%;
    height: 86%;
    margin: 0px;
}

.tab{
    position: relative;
    top: 0;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
/*    float: left;*/
    display: none;
    overflow: hidden;
}

.tab_menu{
    position: relative;
    top: 0;
    width: 1250px;
    margin: 0 auto;
    height: 100%;
/*    float: left;*/
    display: none;
    overflow: hidden;
}

.tab.active {
    display: block;
}

.tab-content .tab a{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 4.5% 6% 0;
    width:200px;
    height:200px;
/*    overflow-x: hidden;*/
}

.tab-content .tab a .pic_h{
    max-width: 200px;
    max-height: 200px;
    text-align:center;
    height:100%;
}

.tab-content .tab a .pic_w{
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    height:100%;
    width: 100%;
}

.tab-content .tab_menu a{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 15% 2.6% 0%;
    width:240px;
    height:240px;
}

.tab-content .tab_menu a .pic_h{
    max-width: 240px;
    max-height: 240px;
    text-align:center;
    height:100%;
}

.tab-content .tab_menu a .pic_w{
    max-width: 240px;
    max-height: 240px;
    text-align:center;
    width:100%;
}

.tab-content .tab a span{
    display:block;
    font-family:"微软雅黑", sans-serif;
    font-size:20px;
/*    font-weight: bold;*/
    text-align:center;
    text-decoration: none;
    color: rgb(216, 216, 216);
    max-width:200px;
    max-height:28px;
    overflow:hidden;
}

.tab-content .tab_menu a span{
    display:block;
    font-family:"微软雅黑", sans-serif;
    font-size:20px;
/*    font-weight: bold;*/
    text-align:center;
    text-decoration: none;
    color: rgb(216, 216, 216);
    max-width:240px;
    max-height:28px;
    overflow:hidden;
}

.tab-content .tab a:hover img{
    opacity:0.8;
}

.tab-content .tab_menu a:hover img{
    opacity:0.8;
}

/*
.tab-content .tab a:hover span{
    color: rgb(216, 216, 216);
}

.tab-content .tab_menu a:hover span{
    color: rgb(216, 216, 216);
}
*/

@media screen and (min-width: 1536px) {
    .tab-content .tab a{
        margin: 11% 6% 0;
    }
    .tab-content .tab_menu a{
        margin: 11% 6% 0;
    }
}

.page {
    position: absolute;
    bottom: 1%;
    width: 100%;
    display: block;
    text-align: center;
}

.page span {
    display: inline-block;
    padding: 2px 8px;
}
.page a span,
.page a span:link, 
.page a span:hover, 
.page a span:visited, 
.page a span:active {
    text-decoration: underline;
    font-family:"微软雅黑", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(216, 216, 216);
}

.page span {
    display: inline-block;
    padding: 2px 4px;
    font-family:"微软雅黑", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(216, 216, 216);
}

.page span img{
    width:30px;
    height:30px;
}
/*
.page span i {
    text-decoration: underline;
}
*/

@media screen and (max-width: 1000px){
    .third-wrap {
        width: 1000px;
    }
    .third-back1 {
        top: 24px;
        left: 30px;
    }
}

@media screen and (min-width: 1536px) {
    .tab,
    .tab_menu {
        position: relative;
        top: 0;
        width: 1400px;
        margin: 0 auto;
        height: 100%;
    /*    float: left;*/
        display: none;
        overflow: hidden;
    }
    .tab-content .tab a{
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 10% 8% 0;
    }
    .tab-content .tab_menu a{
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 19% 5% 0% 1%;
    }
}
